@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.section__title {
  @apply text-2xl text-palidcolor font-bold uppercase tracking-widest;
}

.container__pagination {
  @apply flex justify-center mt-5 items-center;
}

.page__link {
  @apply px-3 py-1 rounded-full text-palidcolor hover:bg-cardscolor;
}

.previous__after {
  @apply font-bold text-palidcolor hover:bg-cardscolor px-2 py-1 rounded-full;
}

.container__pagination {
  .break {
    color: #dddddd;
  }
}

.big__container {
  @apply xl:container px-4 sm:px-8 lg:px-16 xl:px-24 mx-auto py-5 md:py-10;
}

.prev__after--disabled {
  a {
    color: #c8c2c2;
    &:hover {
      background-color: #29303a;
      cursor: default;
    }
  }
}

.scroll__div {
  @apply w-full overflow-x-auto whitespace-nowrap scroll__container;
}

.scroll-div__child {
  @apply inline-block m-5 transform hover:-translate-y-2;
}

.slider__image {
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.scroll__container {
  &::-webkit-scrollbar-track {
    padding: 2px 0;
    border-radius: 10px;
    background-color: #ffc5c5;
  }

  &::-webkit-scrollbar {
    width: 10px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #f05454;
  }
}

.image-container {
  &:hover {
    -webkit-mask-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 1)),
      to(rgba(0, 0, 0, 0))
    );
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }
}

.animation__loading {
  margin-left: auto;
  margin-right: auto;
  border: 16px solid #222831;
  border-radius: 50%;
  border-top: 16px solid #30475e;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.Toastify__toast--success,
.Toastify__toast--error {
  background: #29303a !important;
  color: #dddddd !important;
}
